@{
    ViewData["Title"] = "Home";
}

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot" style="width:300px;" />


<p>Welcome to Joel Hilton’s Film Collection! Use the navigation to explore the collection or learn more about Joel.</p>
